.main-header .logo-header .logo {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}
.sidebar .sidebar-wrapper{
    /*padding-top: 0px !important;*/
}

.main-panel .content{
    /*padding: 10px !important;*/
}

.appointments-table{
    margin-top: 24px !important;
}

.appointments-table .col-md-12{
    padding-left: 0;
    padding-right: 0;
}

.selectdatewidget {
    display: inline-block;
    margin-right: 3px;
}

select[name$="_day"].selectdatewidget {
    width: 25%;
}
select[name$="_month"].selectdatewidget {
    width: 36%;
}
select[name$="_year"].selectdatewidget {
    width: 36%;
}

.form-control {
    padding: 0rem 1rem;
}

.form-group, .form-check {
    margin-bottom: 0;
    padding: 10px 3px;
}

.btn-outline-primary{
    color: #1660A2;
    border-color: #1660A2;
}

.btn-outline-primary:hover{
    color: #ffffff;
    background: #1660A2;
    border-color: #1660A2;
}

/*===================================================Dashboard Profile====================================================*/


/*===============================================END Dashboard Profile====================================================*/

.form-check [type="checkbox"]:not(:checked), .form-check [type="checkbox"]:checked {
    position: absolute;
    left: -0px;
}