{% extends "clinic_main/base.html" %}
{% load static %}
{% block content %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                <a href="https://www.youtube.com/watch?v=_q-l6Cn6WxY" class="venobox play-btn mb-4"
                   data-vbtype="video" data-autoplay="true"></a>
            </div>
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Django Clinic... if you don't want do die.</h3>
                <p>Django Clinic is one of the largest and most respected hospitals in the country. Our mission is
                    to provide better care of the sick, investigation into their problems, and further education of
                    those who serve. Learn more about our leadership, vision, values and model of healthcare.</p>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Qualified staff</a></h4>
                    <p class="description">Best doctors and especially beautiful qualified nurses</p>
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Gifts</a></h4>
                    <p class="description">Every client gets a gift card</p>
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">Newest technologies</a></h4>
                    <p class="description">Most expensive equipment and treatment methods.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->
<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
    <div class="container">
        <div class="section-title">
            <h2>Doctors</h2>
            <p>These are the best and most succesfull physicians in the whole world.</p>
        </div>
        <div class="row">

            {% for doctor in object_list %}
            <div class="col-lg-6">

                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{{ doctor.image.url }}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>{{doctor.first_name}} {{doctor.last_name}}</h4>
                        <span>{{doctor.specialization.name}}</span>
                        <p>{{ doctor.description }}</p>
                        <p>Email: {{doctor.user.email}}</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section><!-- End Doctors Section -->
{% endblock %}