{% load static %}
<!-- Sidebar -->
<div class="sidebar-background"></div>
<div class="sidebar-wrapper scrollbar-inner">
    <div class="sidebar-content">
        <div class="user">
            <div class="avatar-sm float-left mr-2">
                <img src="{{ user.profile.image.url }}" alt="..." class="avatar-img rounded-circle">
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        {% if user.profile.first_name and user.profile.last_name %}
                        {{ user.profile.first_name }} {{ user.profile.last_name }}
                        {% else %}
                        {{ user.email }}
                        {% endif %}
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse in" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="{% url 'dashboard:profile' %}">
                                <span class="link-collapse">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'password_change' %}">
                                <span class="link-collapse">Change password</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            {% url 'dashboard:dashboard' as dashboard_url %}
            <li class="nav-item {% if request.get_full_path == dashboard_url %}active{% endif %}">
                <a href="{% url 'dashboard:dashboard' %}">
                    <i class="fa fa-home"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            {% url 'dashboard:appointments' as appointment_url %}
            <li class="nav-item {% if request.get_full_path == appointment_url %}active{% endif %}">
                <a href="{% url 'dashboard:appointments' %}">
                    <i class="fa fa-table"></i>
                    <p>Appointments</p>
                </a>
            </li>

            {% url 'dashboard:medical_history' as medical_history_url %}
            <li class="nav-item {% if request.get_full_path == medical_history_url %}active{% endif %}">
                <a href="{% url 'dashboard:medical_history' %}">
                    <i class="fa fa-calendar"></i>
                    <p>Medical History</p>
                </a>
            </li>

            {% url 'dashboard:patients' as patients_url %}
            <li class="nav-item {% if request.get_full_path == patients_url %}active{% endif %}">
                <a href="{% url 'dashboard:patients' %}">
                    <i class="fas fa-procedures"></i>
                    <p>Patients</p>
                </a>
            </li>

            {% url 'dashboard:doctors' as doctors_url %}
            <li class="nav-item {% if request.get_full_path == doctors_url %}active{% endif %}">
                <a href="{% url 'dashboard:doctors' %}">
                    <i class="fa fa-user-md"></i>
                    <p>Doctors</p>
                </a>
            </li>

            {% url 'dashboard:calendar' as calendar_url %}
            <li class="nav-item {% if request.get_full_path == calendar_url %}active{% endif %}">
                <a href="{% url 'dashboard:calendar' %}">
                    <i class="fa fa-calendar"></i>
                    <p>Calendar</p>
                </a>
            </li>

        </ul>
    </div>
</div>
<!-- End Sidebar -->