{% extends "layouts/base.html" %}
{% load static %}


{% block content %}
<!-- Calendar -->
<style>
    .second-col label{
        padding: 10px 0;
        margin-bottom: 0;
        font-size: 14px !important;

    }
    .second-col select{
        padding-top: 0;
        margin-top: 0;
    }

    #hours-display{
        text-align: center;
    }

    #hours-display .check-time {
        margin: 10px 0 20px 0;
    }

    #hours-display .check-time {
        margin: 10px 0 20px 0;
    }
    #hours-display .available-time{
        margin: 10px;
    }
</style>

<div class="page-inner">
    <h1>Calendar</h1>
    <div class="container">
        <div class="row">
            <div class="col-md first-col">
                <div class="container-calendar">
                    <div class="button-container-calendar">
                        <button id="previous">&#8249;</button>
                        <button id="next">&#8250;</button>
                        <h3 id="monthHeader"></h3>
                        <p id="yearHeader"></p>
                    </div>
                    <table class="table-calendar" id="calendar">
                        <thead id="thead-month"></thead>
                        <tbody id="calendar-body"></tbody>
                    </table>
                    <div class="footer-container-calendar">
                        <label for="month">Jump To: </label>
                        <select id="month">
                            <option value=0>Jan</option>
                            <option value=1>Feb</option>
                            <option value=2>Mar</option>
                            <option value=3>Apr</option>
                            <option value=4>May</option>
                            <option value=5>Jun</option>
                            <option value=6>Jul</option>
                            <option value=7>Aug</option>
                            <option value=8>Sep</option>
                            <option value=9>Oct</option>
                            <option value=10>Nov</option>
                            <option value=11>Dec</option>
                        </select>
                        <select id="year"></select>
                    </div>
                </div>

<!--         <label id="date-picked">Date Picked</label>-->
<!--        <input type="text" class="form-control form-control-lg" id="date-picked" onchange="timeChange()" value="{% now 'j F Y' %}"></input>-->
                <div id="hours-display">

                    <input type="text"  id="dateChosen" class="form-control form-control-lg" value="{% now 'Y-m-d' %}" disabled>
                    <button id="checkTime" class="btn btn-outline-primary btn-lg check-time"  onclick="checkTime()">Check Time</button>
<div id="currentHours"></div>
                    <h2>Available appointments</h2>
                    <div id="availableHours"></div>
<!--                    {% for appointment in appointments %}-->
<!--                        <button>{{ appointment }}</button>-->
<!--                    {% endfor %}-->
<!--                    <label for="dateChosen">Date Choosed</label>-->
                </div>
            </div>
            <div class="col-md second-col">
               <div class="form-group">
										<label for="largeSelect">Doctor Name</label>
										<select class="form-control form-control-lg" id="largeSelect">
											<option>Sebastia Janas</option>
											<option>Mateusz Mielniczuk</option>
											<option>Mariusz Debowski</option>
										</select>
									</div>
                <label for="patientName">Patient Name</label>
				<input type="text" class="form-control form-control-lg" id="patientName" placeholder="Large Input" disabled>
                <label for="appointmentDate">Date</label>
				<input type="text" class="form-control form-control-lg" id="appointmentDate" value="{% now 'j F Y' %}" disabled>
                <label for="appointmentTime">Time</label>
				<input type="text" class="form-control form-control-lg" id="appointmentTime" value="test" disabled>



            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function checkTime() {
    var datechoosen = document.getElementById("dateChosen").value
    document.getElementById("currentHours").innerHTML = datechoosen;
    $.ajax({
        type: 'GET',
        dataType: "json",
    url: "{% url 'dashboard:check_hours' %}",
        // async: true,
    data : JSON,
    success: function (data) {
            $("#availableHours").html('');

            var timeAvaliable = "";
            $.each(data, function (k, v){
                timeAvaliable += '<button class="btn btn-outline-primary btn-lg available-time" id="time'+ k +'" value="'+ v.time +'" onclick="getTime(this.id)">' + v.time + '</button>';
                // timeAvaliable += '<button class="btn btn-outline-primary btn-lg available-time" onclick="pickTime()" value="">' + v.time + '</button>';
            })
            $('#availableHours').append(timeAvaliable);
    }
});

}

function getTime(id){
        var btn = document.getElementById(id).value;
        // var appointmentTime = document.getElementById("appointmentTime")
        //var val = $(this).val();
       //alert(btn);
        $('#appointmentTime').val(btn)
}

// $(function(){
// $(".available-time").click(function() {
//     var fired_button = $(this).val();
//     alert(fired_button);
// });
// });
// function pickTime(){
//     var timePicked = document.getElementById("appointmentTime")
//     var fired_button = $(this).val();
//     alert(fired_button);
    // timePicked.setAttribute($(this).val(), value);
    // $('.available-time').click(function(){
    //     alert($(this).val());
    // });
//}



</script>


{% endblock %}