{% extends "layouts/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!--===========================================SECRETARY=========================================================-->
<center><strong><h1>Explore doctors</h1></strong></center>

<div class="d-flex justify-content-center">
    <form method="get">
        {{ doctor_filter.form }}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>


<div class="page-inner">
    <h1>Search patients(max 5 results):</h1>
    <div class="appointments-table">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Specialization</th>
                                <th>Gender</th>
                                <th style="width: 10%">Action</th>

                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Specialization</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            {% for doctor in doctors %}
                            <tr>
                                <td>{{doctor.first_name}}</td>
                                <td>{{doctor.last_name}}</td>
                                <td>{{doctor.specialization}}</td>
                                <td>{{doctor.phone_number}}</td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="{% url 'dashboard:profile_doctor' doctor.user_id %}">
                                            <button type="button" data-toggle="tooltip" title="edit profile"
                                                    class="btn btn-link btn-primary btn-lg"
                                                    data-original-title="Edit Task">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}